#
# reserved values
#
255	local
254	main
253	default
0	unspec
#
# local
#
#1	inr.ruhep

250	martians

# interface name aliases for dhclient-script
101	vlan0
102	eth2

# wan tables
101	wan_fiber
102	wan_cable
